.topnav {
  overflow: hidden;
  background-color: #e6e4d9;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: #afada2;
}
.topnav a.active {
  background-color: #afada2;
  color: white;
}.topnav input {
   width: 40%;
   padding: 12px 20px;
   margin: 16px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }.topnav button{
    background-color: #afada2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
  }
